@import "tailwindcss";

@theme {
  --color-retro-yellow: #facc15;
  --color-retro-pink: #f472b6;
  --color-retro-blue: #60a5fa;
  --color-retro-green: #4ade80;
  --color-retro-white: #fdfdfd;
  --color-retro-bg: #ecece0; 
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
  body {
    background-color: var(--color-retro-bg);
    color: #000;
    font-family: var(--font-mono);
    /* Simple retro grid background */
    background-image: radial-gradient(#000000 1px, transparent 0);
    background-size: 32px 32px;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
